* {
  box-sizing: border-box;
  color: #333;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#film-main {
  padding: 5px;
}

.film-display {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 7.5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.film-display span {
  margin: 5px;
}

#film-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  width: 100%;
  text-align: center;
}

button {
  border: none;
  background-color: white;
  text-decoration: underline;
  cursor: pointer;
}

button:disabled {
  color: lightgray;
  cursor: default;
}

#page-nav {
  margin-top: 40px;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.film-display .film-title {
  font-size: 30px;
  font-family: Impact, Charcoal, sans-serif;
}

.film-display .film-desc {
  margin-bottom: 20px;
}

#film-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

#film-search-container {
  position: relative;
}

#film-search-container button {
  position: absolute;
  left: 275px;
  top: -3px;
  cursor: pointer;
}

#film-search-container img {
  height: 30px;
  cursor: pointer;
}

#film-search-container input {
  font-size: 25px;
  padding-right: 40px;
  border: none;
  border-bottom: 1px solid black;
}

#top-nav {
  display: flex;
  justify-content: flex-end;
}
